@page "/Log"
@using System.IO
@using System.IO.Compression
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime


<h1>Admin Panel</h1>

<div class="mb-3">
    <button class="btn btn-primary" @onclick="DownloadLogFiles">Download Log Files</button>
    @if (!string.IsNullOrEmpty(LogFolder))
    {
        <p class="mt-2">Log files are located in: <strong>@LogFolder</strong></p>
    }
</div>

@code {
    private string LogFolder = string.Empty;
    private async Task DownloadLogFiles()
    {
        var assetsPath = Path.Combine(Directory.GetCurrentDirectory(), "Logs");
        LogFolder = assetsPath;
        var logFiles = Directory.GetFiles(assetsPath, "Log*");

        if (!logFiles.Any())
        {
            return;
        }

        var tempZipPath = Path.Combine(Path.GetTempPath(), "logs.zip");
        
        if (File.Exists(tempZipPath))
        {
            File.Delete(tempZipPath);
        }

        using (var zipArchive = ZipFile.Open(tempZipPath, ZipArchiveMode.Create))
        {
            foreach (var logFile in logFiles)
            {
                zipArchive.CreateEntryFromFile(logFile, Path.GetFileName(logFile));
            }
        }

        var fileBytes = await File.ReadAllBytesAsync(tempZipPath);
        var base64String = Convert.ToBase64String(fileBytes);
        
        await JSRuntime.InvokeVoidAsync("downloadFileFromBase64", "LogFiles.zip", base64String);

        // Clean up the temporary file
        File.Delete(tempZipPath);
    }
}
